  body {
    background-image: url("../img/pg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #333;
  }
  
  h1 {
    color: #E1E1E1;
    font-family: 'Bitter', serif;
	font-size: 50px;
  }
  
  h2 {
	  color: #E1E1E1;
	  font-family: Trebuchet MS;
	  font-size:36px;
  }
  
   h3 {
    color: #B49EB9;
    font-family: 'Bitter', serif;
	font-size: 20px;
	font-style:italic;
  }
  
  a {
      text-decoration:none;
   }
